<h1>Listing userfids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userfids.each do |userfid| %>
      <tr>
        <td><%= userfid.name %></td>
        <td><%= userfid.slug %></td>
        <td><%= link_to 'Show', userfid %></td>
        <td><%= link_to 'Edit', edit_userfid_path(userfid) %></td>
        <td><%= link_to 'Destroy', userfid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userfid', new_userfid_path %>
